# Better Auth
# Required. Generate with: openssl rand -base64 32
BETTER_AUTH_SECRET=

BETTER_AUTH_URL="http://localhost:3000"

NEXT_PUBLIC_BETTER_AUTH_URL="http://localhost:3000"
NEXT_PUBLIC_APP_NAME="Next.js Tailwind Starter"

# AWS DynamoDB
AWS_REGION="ap-northeast-2"

DYNAMODB_TABLE_NAME="app-main"
